/* ---------------------------------------------------
    Font 
----------------------------------------------------- */
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap";

.bg-latinco {
    background-color: #601c14;
}

.bg-latinco-blue {
    background-color: #68b7ee;
}

.text-latinco {
    color: #601c14 !important;
}

.card-header {
    background: rgb(96, 28, 20);
    background: linear-gradient(90deg,
            rgba(96, 28, 20, 1) 0%,
            rgba(104, 183, 238, 1) 100%);
    border: none;
}

.latinco-bg-gradient {
    background: rgb(96, 28, 20);
    background: linear-gradient(90deg,
            rgba(96, 28, 20, 1) 0%,
            rgba(104, 183, 238, 1) 100%);
}

.triangulo {
    width: 0;
    height: 0;
    border-left: 100px solid #f0ad4e;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

.text-latinco-blue {
    color: #68b7ee;
}

footer {
    position: absolute;
    bottom: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background: #fafafa;
}

/* ---------------------------------------------------
    Font
----------------------------------------------------- */

/* ---------------------------------------------------
    Scroll bar 
----------------------------------------------------- */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #343a40;
    border: black;
}

/* ---------------------------------------------------
  Scroll bar 
----------------------------------------------------- */

/* ---------------------------------------------------
    Colores corporativos
----------------------------------------------------- */

/* ---------------------------------------------------
Termina Colores corporativos
----------------------------------------------------- */

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    /* padding: 20px; */
    min-height: 100vh;
    transition: all 0.3s;
}

html,
body.scrolly {
    max-width: 100%;
    overflow-x: hidden;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.text-rosado {
    color: #601c14 !important;
}

.bg-rosado {
    background-color: #601c14 !important;
}

input:focus {
    border-color: #601c14 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(255, 0, 0, 0.6) !important;
}

select.form-select:focus {
    border-color: #601c14 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(255, 0, 0, 0.6) !important;
}

.colorRed {
    border: 1px solid #601c14 !important;
}

a.active {
    background-color: #601c14 !important;
    color: white !important;
}

.red-bg {
    background-color: #601c14 !important;
    color: white !important;
}

.text-vinotinto {
    /* background-color: #f61b55 !important; */
    /* border: 1px solid #601c14 !important; */
    color: #601c14 !important;
}

.btn-danger {
    /* background-color: #f61b55 !important; */
    /* border: 1px solid #601c14 !important; */
    background-color: #601c14 !important;
    border-color: #601c14 !important;
    color: #fff !important;
}

.btn-outline-danger {
    /* background-color: #f61b55 !important; */
    /* border: 1px solid #601c14 !important; */
    color: #601c14 !important;
}

.btn-outline-danger:hover {
    background-color: #601c14 !important;
    color: white !important;
}

.btn-outline-danger:focus {
    outline: none !important;
    box-shadow: none !important;
}

.bg-amarillo {
    background-color: #ffe9a8 !important;
    color: #002229 !important;
}

.bg-rojo {
    background-color: #ffa9b1 !important;
    color: #400000 !important;
}

/* ---------------------------------------------------
    NAVBAR
----------------------------------------------------- */
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 25px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#dropOutCard::after {
    content: none !important;
    border: none !important;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #fff;
    color: #ffff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    background: #fff;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: black;
    background: white;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: black;
    background: white;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}




@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }

    .wrapperChart {
        position: relative;
        margin: auto;
        height: 40vh;
        width: 50vh;
    }
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: white;
    color: black;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */


/* ---------------------------------------------------
    Medias  querys
----------------------------------------------------- */

@media (min-width: 768px) {
    .card-body.chart {
        max-height: 400px;
        height: 400px;
    }

    #myChart2 {
        max-height: 100%;
    }

    #myChart {
        max-height: 100%;
    }
}


/* ---------------------------------------------------
    Spinners
----------------------------------------------------- */

.spinner {
    width: 40px;
    height: 40px;

    position: relative;
    margin: 100px auto;
    display: flex;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #601c14;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}